<h2>Alterar Usuário</h2>
<hr>
<form method="post">
	Nome: <input type="text" name = 'nome' value="<?= $dados['nome']?>"><br>
	Email: <input type="text" name = 'email' value="<?= $dados['email']?>"><br>
	Senha: <input type="password" name = 'senha' value="<?= $dados['senha']?>"><br><br>
	<input type="submit" value="Alterar">
</form>

