<h2>Inserir Usuário</h2>
<hr>
<form method="post">
	Nome: <input type="text" name = 'nome'><br>
	Email: <input type="text" name = 'email'><br>
	Senha: <input type="password" name = 'senha'><br><br>
	<input type="submit" value="Cadastrar">
</form>

