<?php

foreach($dados as $usuario)
{
    echo 'Id: ' . $usuario['id'];
    echo '<br>Nome: ' . $usuario['nome'];
    echo '<br>Email: ' . $usuario['email'];
    echo '<br>Senha: *****';
    echo '<br><a href ="index.php?rota=usuarios/alterar/' . $usuario['id'] . '">Alterar</a> |';
    echo '<a href ="index.php?rota=usuarios/excluir/' . $usuario['id'] . '">Excluir</a>';
    echo '<hr>';
}