<html>
	<head>
		<title>Entendendo o MVC</title>
	</head>
	<body>
		<h1>Sistema MVC - Usuarios</h1>
		<a heref="index.php?rota=usuario/listar">Listar Usuários</a> |
		<a heref="index.php?rota=usuario/inserir">Inserir Usuário</a> |
		<hr>
		<?php require __DIR__ . "/../$caminhoView.phtml";?>
	</body>
</html>
